## To edit once for one participant

In [1]:
## importing all libraries and dependencies
import pandas as pd
import numpy as np
import os
from os import listdir
import glob
from os.path import isfile, join
import shutil
import PIL
from PIL import Image
import random
import math
from heapq import merge
from random import *

In [2]:
pt_num = '76'

In [3]:
image_dir = '/Users/ayesh/Desktop/Gradstuff/Temp_mem2022/Scenes_selected/' 
onlyfiles = [f for f in listdir(image_dir) if isfile(join(image_dir, f))]
context_pics = []
for i in onlyfiles:
    stimpath = 'Scenes_selected/' + i
    context_pics.append(stimpath)
    
## OBJECTS
obj_dir = '/Users/ayesh/Desktop/Gradstuff/Temp_mem2022/new_obs/' 
objfiles = [f for f in listdir(obj_dir) if isfile(join(obj_dir, f))]
obj_pics = []
for i in objfiles:
    stimpath = 'new_obs/' + i
    obj_pics.append(stimpath)
    
shuffle(context_pics)
shuffle(obj_pics)

## To edit each run

In [4]:
run_num = '1'

In [12]:
from random import *


length = 4
cont = ["S", "T"]
print("\nBismillah!")
s = choice(cont)
s2 = []
while True:
    x = choice(cont)
    if not s2 or s2.count(s[-1] + x) < length:
        print("adding")
        s2.append(s[-1] + x)
        print(s[-1] + x)
        s += x
        print(s2.count(s[-1] + x))
        print(s)
    if len(s2) == length*4: break

pos = randrange(0, len(s2))

print("=-=-=-=-=-=-=-=-=-=-=")
print(pos)
print(len(s2))
print("=-=-=-=-=-=-=-=-=-=-=")

print("\n\n")
print(s)
print(s2)
print(s2.count("SS"),
      s2.count("ST"),
      s2.count("TS"),
      s2.count("TT"),
      len(s),
      len(s2))

s2.insert(pos, "C")
print(s2)

print(s2.count("SS"),
      s2.count("ST"),
      s2.count("TS"),
      s2.count("TT"),
      len(s),
      len(s2))

print("\n\nAlhumdulilaah!")
print("\nOmar solved it! may Allah ease his troubles ameen! sum ameen!")

Bismillah!
adding
SS
1
SS
adding
ST
0
SST
adding
TT
1
SSTT
adding
TS
1
SSTTS
adding
ST
1
SSTTST
adding
TS
1
SSTTSTS
adding
ST
1
SSTTSTST
adding
TT
2
SSTTSTSTT
adding
TS
1
SSTTSTSTTS
adding
ST
2
SSTTSTSTTST
adding
TT
3
SSTTSTSTTSTT
adding
TT
4
SSTTSTSTTSTTT
adding
TS
1
SSTTSTSTTSTTTS
adding
SS
2
SSTTSTSTTSTTTSS
adding
SS
3
SSTTSTSTTSTTTSSS
adding
SS
4
SSTTSTSTTSTTTSSSS
=-=-=-=-=-=-=-=-=-=-=
15
16
=-=-=-=-=-=-=-=-=-=-=



SSTTSTSTTSTTTSSSS
['SS', 'ST', 'TT', 'TS', 'ST', 'TS', 'ST', 'TT', 'TS', 'ST', 'TT', 'TT', 'TS', 'SS', 'SS', 'SS']
4 4 4 4 17 16
['SS', 'ST', 'TT', 'TS', 'ST', 'TS', 'ST', 'TT', 'TS', 'ST', 'TT', 'TT', 'TS', 'SS', 'SS', 'C', 'SS']
4 4 4 4 17 17


Alhumdulilaah!

Omar solved it! may Allah ease his troubles ameen! sum ameen!

In [882]:
safec = []
threatc = []
allcs = []
allcnums = []
allctypes = []

for i, a in enumerate(s):
    if a == 'S':
        cnum = i
        ctype = 'SAFE'
        cs = str(cnum) + ctype
        safec.append(cs)
        allcs.append(cs)
        allcnums.append(cnum)
        allctypes.append(ctype)
    if a == 'T':
        cnum = i
        ctype = 'THREAT'
        cs = str(cnum) + ctype
        threatc.append(cs)
        allcs.append(cs)
        allcnums.append(cnum)
        allctypes.append(ctype)

## shock context randomization

In [883]:
rnd1 = pos
print(rnd1)
allcs.insert(pos, "shock-cntxt")
allcnums.insert(pos, "000")
allctypes.insert(pos, "shock")
prior= pos-1
post= pos+1
allcs.insert(post, allcs[prior])
allcnums.insert(post, allcnums[prior])
allctypes.insert(post, allctypes[prior])


# for cntxt in threatc:
#     shckc = allcs[rnd1]
#     print (shckc)
# for smcntxts in allcs:
#     if smcntxts == shckc: 
#         index = allcs.index(smcntxts)
#         allcs[index]= "shock-cntxt"
print (threatc)
print (allcs)

3
['0THREAT', '2THREAT', '4THREAT', '6THREAT', '7THREAT', '8THREAT', '14THREAT', '15THREAT', '16THREAT']
['0THREAT', '1SAFE', '2THREAT', 'shock-cntxt', '2THREAT', '3SAFE', '4THREAT', '5SAFE', '6THREAT', '7THREAT', '8THREAT', '9SAFE', '10SAFE', '11SAFE', '12SAFE', '13SAFE', '14THREAT', '15THREAT', '16THREAT']

In [884]:
len(allcs)

19

In [885]:
len(allcnums)

19

In [886]:
trial_ls = ['1','2','3','4','5','6']
ls = trial_ls * len(allcs)
len(ls)

114

In [887]:
df = pd.DataFrame(
    {'context_num': allcnums,
     'context_type': allctypes})

df.insert(2, "context_shock", pd.Series(['shock-cntxt'], index=[pos]))
df.loc[prior, "context_shock"] = "prior"
df.loc[post, "context_shock"] = "post"
df['context_shock'] = df['context_shock'].astype(str)
df

   context_num context_type context_shock
0            0       THREAT           nan
1            1         SAFE           nan
2            2       THREAT         prior
3          000        shock   shock-cntxt
4            2       THREAT          post
5            3         SAFE           nan
6            4       THREAT           nan
7            5         SAFE           nan
8            6       THREAT           nan
9            7       THREAT           nan
10           8       THREAT           nan
11           9         SAFE           nan
12          10         SAFE           nan
13          11         SAFE           nan
14          12         SAFE           nan
15          13         SAFE           nan
16          14       THREAT           nan
17          15       THREAT           nan
18          16       THREAT           nan

In [888]:
newdf = pd.DataFrame(np.repeat(df.values, 6, axis=0))
newdf.columns = df.columns
newdf['cntxt_trialnum'] = ls
#newdf['shock_bool'] = newdf['shock_bool'].astype(str)
print(newdf)

    context_num context_type context_shock cntxt_trialnum
0             0       THREAT           nan              1
1             0       THREAT           nan              2
2             0       THREAT           nan              3
3             0       THREAT           nan              4
4             0       THREAT           nan              5
..          ...          ...           ...            ...
109          16       THREAT           nan              2
110          16       THREAT           nan              3
111          16       THREAT           nan              4
112          16       THREAT           nan              5
113          16       THREAT           nan              6

[114 rows x 4 columns]

## shock randomization

In [889]:
## radnom assignment of shock frequency, it'll be either once or twice in a shock context
shckfreq= [1,2]
c = choice(shckfreq)

In [890]:
# random assignment of shock after the trial #
shock_objectlist = []
if c == 1:
    shockobj = randint(1,3)
    shock_objectlist.append(shockobj)
elif c == 2:
    shock_objectlist = (sample([1,2,3], 2))
    
# random assignment of shock during the 2s ITI
shock_time = []
if len(shock_objectlist)==1: 
    rndobj = random()
    shock_time.append(rndobj)
if len(shock_objectlist) ==2:
    rndobj1 = random()
    rndobj2 = random()
    shock_time.append(rndobj1)
    shock_time.append(rndobj2)
    
shock_objectlist = [str(i) for i in shock_objectlist]
shock_objectlist, shock_time

(['1', '2'], [0.7439145362001619, 0.08738510054673765])

In [891]:
shockcntxtobjcts=[]
for index, row in newdf.iterrows():
    if (newdf.context_shock[index]=='shock-cntxt') and (newdf.cntxt_trialnum[index] in shock_objectlist):
        shockcntxtobjcts.append(index)
        
shocks = [1] * len(shock_objectlist)
shocks
newdf.insert(4, "shock_object", pd.Series(shocks, index=shockcntxtobjcts))
newdf['shock_object'] = newdf['shock_object'].astype(str)

newdf.insert(5, "us", pd.Series(shocks, index=shockcntxtobjcts))
newdf['us'] = newdf['us'].astype(str)


newdf.insert(6, "shock_time", pd.Series(shock_time, index=shockcntxtobjcts))
newdf['shock_time'] = newdf['shock_time'].astype(str)
newdf

,context_num,context_type,context_shock,cntxt_trialnum,shock_object,us,shock_time
0,0,THREAT,nan,1,nan,nan,nan
1,0,THREAT,nan,2,nan,nan,nan
2,0,THREAT,nan,3,nan,nan,nan
3,0,THREAT,nan,4,nan,nan,nan
4,0,THREAT,nan,5,nan,nan,nan
...,...,...,...,...,...,...,...
109,16,THREAT,nan,2,nan,nan,nan
110,16,THREAT,nan,3,nan,nan,nan
111,16,THREAT,nan,4,nan,nan,nan
112,16,THREAT,nan,5,nan,nan,nan
113,16,THREAT,nan,6,nan,nan,nan

In [892]:
for index, row in newdf.iterrows():
    if newdf.us[index]=='nan':
        newdf.us[index] = str(0)
        
newdf

,context_num,context_type,context_shock,cntxt_trialnum,shock_object,us,shock_time
0,0,THREAT,nan,1,nan,0,nan
1,0,THREAT,nan,2,nan,0,nan
2,0,THREAT,nan,3,nan,0,nan
3,0,THREAT,nan,4,nan,0,nan
4,0,THREAT,nan,5,nan,0,nan
...,...,...,...,...,...,...,...
109,16,THREAT,nan,2,nan,0,nan
110,16,THREAT,nan,3,nan,0,nan
111,16,THREAT,nan,4,nan,0,nan
112,16,THREAT,nan,5,nan,0,nan
113,16,THREAT,nan,6,nan,0,nan

## stim randomizations

In [893]:
## resize
# image_dir = '/Users/ayesh/Desktop/Gradstuff/Temp_mem2022/transpobjects/resize/'
# image_list = os.listdir(image_dir)
# printed_list = []
# for a in image_list:
#     im = Image.open (image_dir + a)
#     a_resized = im.resize((400, 400), Image.ANTIALIAS)
#     a_resized.save(image_dir + a, "PNG", optimize=True)
#     a_size = a_resized.size, a
#     printed_list.append(a_size)

### TEMPORAL DISTANCE

In [894]:
# ### CONTEXTS
# image_dir = '/Users/ayesh/Desktop/Gradstuff/Temp_mem2022/Scenes_selected/' 
# onlyfiles = [f for f in listdir(image_dir) if isfile(join(image_dir, f))]
# context_pics = []
# for i in onlyfiles:
#     stimpath = 'Scenes_selected/' + i
#     context_pics.append(stimpath)
    
# ## OBJECTS
# obj_dir = '/Users/ayesh/Desktop/Gradstuff/Temp_mem2022/transpobjects/' 
# objfiles = [f for f in listdir(obj_dir) if isfile(join(obj_dir, f))]
# obj_pics = []
# for i in objfiles:
#     stimpath = 'transpobjects/' + i
#     obj_pics.append(stimpath)

In [895]:
# shuffle(context_pics)
# shuffle(obj_pics)
obs1 = []
obs2 = []
obs3 = []
obs4 = []

#runs = [1,2,3,4,5]
#for run in runs:
if run_num == '1':
    contexts = context_pics [0:19]
    objects = obj_pics[0:114]
    obs1.append(objects)
if run_num == '2':
    contexts = context_pics [19:38]
    objects = obj_pics[114:228]
    obs2.append(objects)
if run_num == '3':
    contexts = context_pics [38:57]
    objects = obj_pics[228:342]
    obs3.append(objects)
if run_num == '4':
    contexts = context_pics [57:76]
    objects = obj_pics[342:456]
    obs4.append(objects)
if run_num == '5':
    contexts = context_pics [76:95]
    objects = obj_pics[456:570]

In [896]:
## PT DF
all_contexts = np.repeat(contexts, 6)

newdf['contexts_pics'] = all_contexts
newdf['objects_pics'] = objects

### remove the "shock context" before making the test df
newdf2 = newdf[newdf['context_type'] != 'shock']
newdf2.index = range(len(newdf2))

In [897]:
newdf2

,context_num,context_type,context_shock,cntxt_trialnum,shock_object,us,shock_time,contexts_pics,objects_pics
0,0,THREAT,nan,1,nan,0,nan,Scenes_selected/scene_017.jpg,new_obs/1_427.jpg
1,0,THREAT,nan,2,nan,0,nan,Scenes_selected/scene_017.jpg,new_obs/object_136.jpg
2,0,THREAT,nan,3,nan,0,nan,Scenes_selected/scene_017.jpg,new_obs/object_833.jpg
3,0,THREAT,nan,4,nan,0,nan,Scenes_selected/scene_017.jpg,new_obs/1_348.jpg
4,0,THREAT,nan,5,nan,0,nan,Scenes_selected/scene_017.jpg,new_obs/1_381.jpg
...,...,...,...,...,...,...,...,...,...
103,16,THREAT,nan,2,nan,0,nan,Scenes_selected/scene_025.jpg,new_obs/1_138.jpg
104,16,THREAT,nan,3,nan,0,nan,Scenes_selected/scene_025.jpg,new_obs/object_501.jpg
105,16,THREAT,nan,4,nan,0,nan,Scenes_selected/scene_025.jpg,new_obs/1_184.jpg
106,16,THREAT,nan,5,nan,0,nan,Scenes_selected/scene_025.jpg,new_obs/object_513.jpg
107,16,THREAT,nan,6,nan,0,nan,Scenes_selected/scene_025.jpg,new_obs/object_006.jpg

In [898]:
### stims to be tested

## WITHIN
within_index = []
within = []
Swithin1 = []
Swithin2 = []
Twithin1 = []
Twithin2 = []

for index, row in newdf2.iterrows():
    ### WITHIN
    if newdf2.cntxt_trialnum[index] == '2' and newdf2.context_type[index] == 'SAFE':
        Swithin1.append(row)
        within.append('within_safe1')
        within_index.append(index)
    if newdf2.cntxt_trialnum[index] == '6' and newdf2.context_type[index] == 'SAFE':
        Swithin2.append(row)
        within.append('within_safe2')
        within_index.append(index)
    if newdf2.cntxt_trialnum[index] == '2' and newdf2.context_type[index] == 'THREAT':
        Twithin1.append(row)
        within.append('within_threat1')
        within_index.append(index)
    if newdf2.cntxt_trialnum[index] == '6' and newdf2.context_type[index] == 'THREAT':
        Twithin2.append(row)
        within.append('within_threat2')
        within_index.append(index)

In [899]:
##ACROSS 
across_index = []
across = []
Sacross1 = []
Sacross2 = []
Tacross1 = []
Tacross2 = []

for index, row in newdf2.iterrows():
    if newdf2.cntxt_trialnum[index] == '5' and newdf2.context_type[index] == 'SAFE' and newdf2.context_num[index]!=16:
        Sacross1.append(row)
        across.append('across_safe1')
        across_index.append(index)
    if newdf2.cntxt_trialnum[index] == '3' and newdf2.context_type[index] == 'SAFE' and newdf2.context_num[index]!=0:
        Sacross2.append(row)
        across.append('across_safe2')
        across_index.append(index)
        
    if newdf2.cntxt_trialnum[index] == '5' and newdf2.context_type[index] == 'THREAT' and newdf2.context_num[index]!=16:
        Tacross1.append(row)
        across.append('across_threat1')
        across_index.append(index)
    if newdf2.cntxt_trialnum[index] == '3' and newdf2.context_type[index] == 'THREAT'and newdf2.context_num[index]!=0:
        Tacross2.append(row)
        across.append('across_threat2')
        across_index.append(index)

In [900]:
all_inds = list(merge(within_index,across_index))
newdf2.insert(8, "condition", pd.Series(within, index=within_index))
for t in newdf2.condition:
    newdf2.condition[across_index] = across

C:\Users\ayesh\Anaconda3\lib\site-packages\pandas\core\series.py:1061: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\ayesh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [901]:
newdf2

,context_num,context_type,context_shock,cntxt_trialnum,shock_object,us,shock_time,contexts_pics,condition,objects_pics
0,0,THREAT,nan,1,nan,0,nan,Scenes_selected/scene_017.jpg,NaN,new_obs/1_427.jpg
1,0,THREAT,nan,2,nan,0,nan,Scenes_selected/scene_017.jpg,within_threat1,new_obs/object_136.jpg
2,0,THREAT,nan,3,nan,0,nan,Scenes_selected/scene_017.jpg,NaN,new_obs/object_833.jpg
3,0,THREAT,nan,4,nan,0,nan,Scenes_selected/scene_017.jpg,NaN,new_obs/1_348.jpg
4,0,THREAT,nan,5,nan,0,nan,Scenes_selected/scene_017.jpg,across_threat1,new_obs/1_381.jpg
...,...,...,...,...,...,...,...,...,...,...
103,16,THREAT,nan,2,nan,0,nan,Scenes_selected/scene_025.jpg,within_threat1,new_obs/1_138.jpg
104,16,THREAT,nan,3,nan,0,nan,Scenes_selected/scene_025.jpg,across_threat2,new_obs/object_501.jpg
105,16,THREAT,nan,4,nan,0,nan,Scenes_selected/scene_025.jpg,NaN,new_obs/1_184.jpg
106,16,THREAT,nan,5,nan,0,nan,Scenes_selected/scene_025.jpg,NaN,new_obs/object_513.jpg
107,16,THREAT,nan,6,nan,0,nan,Scenes_selected/scene_025.jpg,within_threat2,new_obs/object_006.jpg

In [902]:
within_1 = newdf2.loc[newdf2['cntxt_trialnum'] == '2']
within_2 = newdf2.loc[newdf2['cntxt_trialnum'] == '6']
across_1 = newdf2.loc[newdf2['cntxt_trialnum'] == '5']
across_2 = newdf2.loc[newdf2['cntxt_trialnum'] == '3']

In [903]:
len(across_1)

18

In [904]:
### test pairs

within_1 = newdf2.loc[newdf2['cntxt_trialnum'] == '2']
within_2 = newdf2.loc[newdf2['cntxt_trialnum'] == '6']
across_1 = newdf2.loc[newdf2['cntxt_trialnum'] == '5']
across_2 = newdf2.loc[newdf2['cntxt_trialnum'] == '3']

across_2 = across_2.drop(across_2[(across_2.context_num == 0)].index)
across_1 = across_1.drop(across_1[(across_1.context_num == 16)].index)

cmbin1 = pd.concat([within_1, across_1], join="inner")
cmbin2 = pd.concat([within_2, across_2], join="inner")

cmbin2 = cmbin2.rename(columns={'context_num': "context_num2", 'context_type':"context_type2", 'context_shock':"context_shock2", 'cntxt_trialnum':"cntxt_trialnum2",
       'shock_object':"shock_object2", 'us':"us2",'shock_time':"shock_time2", 'contexts_pics':"contexts_pics2", 'objects_pics':"objects_pics2",
       'condition': "condition2"})

cmbin1.index = cmbin2.index
testdf = pd.concat([cmbin1, cmbin2], axis=1)

### SOURCE MEMORY TEST

In [905]:
newdf2
## correct context

tst_obj = []
cor_cntxt = []
tst_val = []
all_safe = []
all_threat = []

for index, row in newdf2.iterrows():
    tst_obj.append(newdf2.objects_pics[index])
    cor_cntxt.append(newdf2.contexts_pics[index])
    tst_val.append(newdf2.context_type[index])
    if newdf2.context_type[index] == 'SAFE':
        all_safe.append(newdf2.contexts_pics[index])
    if newdf2.context_type[index] == 'THREAT':
        all_threat.append(newdf2.contexts_pics[index])

In [906]:
## foil contexts
same_foil = []
same_val = []
opp_foil = []
opp_val = []
for index, row in newdf2.iterrows():
    tst = newdf2.contexts_pics[index]
    if tst in all_safe:
        b = [x for x in all_safe if x != tst]
        foil = choice(b)
        foil2 = choice(all_threat)
        same_foil.append(foil)
        opp_foil.append(foil2)
        same_val.append('safe')
        opp_val.append('threat')
    if tst in all_threat:
        b = [x for x in all_threat if x != tst]
        foil = choice(b)
        foil2 = choice(all_safe)
        same_foil.append(foil)
        opp_foil.append(foil2)
        same_val.append('threat')
        opp_val.append('safe')

srcdf = pd.DataFrame(
    {'test_object': tst_obj,
     'correct_context': cor_cntxt,
    'tested_valence': tst_val,
    'same_val': same_val,
    'opp_val': opp_val,
    'same_foil': same_foil,
    'opp_foil': opp_foil})

In [907]:
newdf.loc[newdf["context_type"] == "shock", "context_type"] = "THREAT"

In [908]:
testdf = testdf.sample(frac=1)
srcdf = srcdf.sample(frac=1)

## participant csvs

In [909]:
data_folder = 'C:/Users/ayesh/Desktop/Gradstuff/Temp_mem2022/pt_stimfiles/'
pt = "stimfile_%s" %pt_num
path = os.path.join(data_folder, pt)
pt_folder = os.makedirs(path, exist_ok = True)

##make a pt csv
newdf.to_csv(path+"/loop_%s.csv"%run_num, index = False, header = True)
testdf.to_csv(path+"/testloop_%s.csv"%run_num, index = False, header = True)
srcdf.to_csv(path+"/srcloop_%s.csv"%run_num, index = False, header = True)


#pt_list = pd.DataFrame(
   # {'context_num': allcnums,
    # 'context_type': allctypes,
     #'shocktime': shock_time,
     #'shockobjects': shock_objectlist})

In [910]:
#pt_list.to_csv(path+"/edit_test.csv", index = False, header = True)